{% extends 'base.html.twig' %}

{% block body %}

<h1 class="title is-1">{{ page_name }}</h1>

<div class="card my-6">
<div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-128x128">
          <img
            src="https://bulma.io/assets/images/placeholders/96x96.png"
            alt="Placeholder image"
          />
        </figure>
      </div>
      <div class="media-content">
        <p class="title is-4">Ocak</p>
        <p class="subtitle is-6">@ocakaco</p>
      </div>
    </div>

    <div class="content">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec
      iaculis mauris.
    </div>
  </div>
</div>
{% endblock %}
