{% extends 'base.html.twig' %}

{% block body %}

<h1 class="title is-1">{{ page_name }}</h1>

<div class="fixed-grid has-5-cols">
<div class="grid">
	{% for i in 1..5 %}
		{% if i == 1 %}
		<div class="card cell is-row-span-3 is-col-span-3">
		{% else %}
		<div class="card cell m-2">
		{% endif %}
		  <div class="card-image">
			<a href="">
			<figure class="image is-4by3">
			  <img
				src="https://bulma.io/assets/images/placeholders/640x480.png"
				alt="Placeholder image"
			  />
			</figure>
			</a>
		  </div>
		  <div class="card-content">
			<div class="media">
			  <div class="media-content">
				<a class="title is-4" href="">Lorem Ipsum</a>
				<p class="subtitle is-6">by Ocak</p>
			  </div>
			</div>

			<div class="content">
			  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
			   <a href="#">read more...</a>
			  <br />
			  <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
			</div>
		  </div>
		</div>
	{% endfor %}
</div>
</div>

<nav class="pagination my-5" role="navigation" aria-label="pagination">
  <a href="#" class="pagination-previous">Previous</a>
  <a href="#" class="pagination-next">Next page</a>
  <ul class="pagination-list">
    <li>
      <a href="#" class="pagination-link" aria-label="Goto page 1">1</a>
    </li>
    <li>
      <span class="pagination-ellipsis">&hellip;</span>
    </li>
    <li>
      <a href="#" class="pagination-link" aria-label="Goto page 45">45</a>
    </li>
    <li>
      <a
        class="pagination-link is-current"
        aria-label="Page 46"
        aria-current="page"
        >46</a
      >
    </li>
    <li>
      <a href="#" class="pagination-link" aria-label="Goto page 47">47</a>
    </li>
    <li>
      <span class="pagination-ellipsis">&hellip;</span>
    </li>
    <li>
      <a href="#" class="pagination-link" aria-label="Goto page 86">86</a>
    </li>
  </ul>
</nav>
{% endblock %}
